<div class="container-fluid">
  <% @cards.in_groups_of(3).each do |group| %>
  <div class="row">
    <% group.each do |item| %>
    <div class="item">
      <%= render_card(item) %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>