<!-- views/cards/_card.html.erb -->
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left"><%= card.category.display_name %></h3>
          <span class="pull-right">
            <a data-toggle="modal" data-target="#<%= card.category.file_name %>" rel="modal:open">
              Change
            </a>
          </span>     
        </div>
        <div class="panel-body text-center">
            <p class="list-group-item-text"><h3><%= card.title %></h3></p>
            <%= p_row(card.p_1) %>
            <%= p_row(card.p_2) %>
            <%= p_row(card.p_3) %>
            <%= p_row(card.p_4) %>
            <%= p_row(card.p_5) %>
        </div>
        <div class="panel-footer">
          <small>Last updated on <%= card.updated_at.strftime("%A, %B %d, %Y at %H:%M %Z") %> by #915</small>
        </div>
    </div>
</div>
<div class="modal fade" id="<%= card.category.file_name %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> Change <%= card.category.display_name %></h4>
      </div>
      <%= form_tag ('/') do |f| %>
      <div class="modal-body">
          <div class="form-group">
            <%= collection_select(:card, :id, Card.includes(:category).where('categories.name' => card.category.name).all, :id, :title, { :prompt=>true }, { :class=>'form-control' }) %>
            <%= hidden_field_tag 'card[category_id]', card.category.id %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag 'Update', :class => 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

