<%= form_for(@card) do |f| %>
<% if @card.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

  <ul>
    <% @card.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-sm-5">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left"><%= yield :card_title %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2 form-group"><%= f.label :title %> </div>
        <div class="col-sm-10 form-group"><%= f.text_field :title, {:class => 'form-control'} %></div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group"><%= f.label :category %> </div>
        <div class="col-sm-10 form-group"><%= f.collection_select :category_id, Category.order(:name).all, :id, :display_name, {}, {:class => 'form-control'} %></div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group"><%= f.label :category %> </div>
        <div class="col-sm-10 form-group"><%= f.select :active, [['Active', true], ['Inactive', false]], {}, {:class => 'form-control'} %></div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group"><%= f.label :p_1, "Line 1" %> </div>
        <div class="col-sm-10 form-group"><%= f.text_field :p_1, {:class => 'form-control'} %></div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group"><%= f.label :p_2, "Line 2" %> </div>
        <div class="col-sm-10 form-group"><%= f.text_field :p_2, {:class => 'form-control'} %></div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group"><%= f.label :p_3, "Line 3" %> </div>
        <div class="col-sm-10 form-group"><%= f.text_field :p_3, {:class => 'form-control'} %></div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group"><%= f.label :p_4, "Line 4" %> </div>
        <div class="col-sm-10 form-group"><%= f.text_field :p_4, {:class => 'form-control'} %></div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group"><%= f.label :p_5, "Line 5"%> </div>
        <div class="col-sm-10 form-group"><%= f.text_field :p_5, {:class => 'form-control'} %></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn-group pull-right">
            <a onclick="history.go(-1);" class="btn btn-danger">
              <i class="fa fa-times"></i>
              Cancel
            </a>
            <%= button_tag(type: 'submit', class: "btn btn-success pull-right") do %>
            <i class="fa fa-check"></i>
            Save
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
<% end %>
