<%= link_to(card, {:class => 'list-group-item'}) do %>
  <i class="fa fa-2x pull-left fa-user"></i>
<h4 class="list-group-item-heading"><%= card.display_title %> <%= display_active_star(card) %></h4>
  <p class="list-group-item-text"><%= card.category.display_name %></p>
<% end %>