<div class="col-sm-5 bootcards-list" id="list" data-title="Cards">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Cards</h3>
      <div class="btn-group pull-right">
        <%= link_to new_card_path do %>
        <span>Add </span>
        <% end %>
      </div>
    </div>
    <div class="list-group">
      <% @cards.each do |card| %>
      <%= render partial: 'list_card', locals: {card: card} %>
      <% end %>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
