<div class="col-sm-5 bootcards-list" id="list" data-title="Cards">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left"><%= @card.display_title %></h3>
      <div class="pull-right">
        <%= link_to 'Edit', edit_card_path(@card) %>
        -
        <%= form_for @card,  html: {:method => 'delete',:class => 'form-inline'} do |f| %>
        <%= link_to "Delete", "#", :onclick=>"edit_card_#{@card.id}.submit();" %>
        <% end %>
      </div>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <lable>Category</lable>
        <h3 class="list-group-item-heading"><%= @card.category.display_name %></h3>
      </div>
      <div class="list-group-item">
        <lable>Line 1</lable>
        <h3 class="list-group-item-heading"><%= @card.p_1 %></h3>
      </div>
      <div class="list-group-item">
        <lable>Line 2</lable>
        <h3 class="list-group-item-heading"><%= @card.p_2 %></h3>
      </div>
      <div class="list-group-item">
        <lable>Line 3</lable>
        <h3 class="list-group-item-heading"><%= @card.p_3 %></h3>
      </div>
      <div class="list-group-item">
        <lable>Line 4</lable>
        <h3 class="list-group-item-heading"><%= @card.p_4 %></h3>
      </div>
      <div class="list-group-item">
        <lable>Line 5</lable>
        <h3 class="list-group-item-heading"><%= @card.p_5 %></h3>
      </div>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>