<%= form_for(@category) do |f| %>
<% if @category.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

  <ul>
    <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-sm-5">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left"><%= yield :card_title %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3 form-group"><%f.label :name %> </div>
        <div class="col-sm-8 form-group"><%= f.text_field :name, {:class => 'form-control'} %></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="btn-group pull-right">
            <a onclick="history.go(-1);" class="btn btn-danger">
              <i class="fa fa-times"></i>
              Cancel
            </a>
            <%= button_tag(type: 'submit', class: "btn btn-success pull-right") do %>
            <i class="fa fa-check"></i>
            Save
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
<% end %>
