<%= link_to(edit_category_path(category), {:class => 'list-group-item'}) do %>
  <i class="fa fa-2x pull-left fa-tag"></i>
  <h4 class="list-group-item-heading"><%= category.display_name %></h4>
  <p class="list-group-item-text"><%= category.updated_at %></p>
<% end %>