<div class="col-sm-5 bootcards-list" id="list" data-title="Card Categories">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Card Categories</h3>
      <div class="btn-group pull-right">
        <%= link_to new_category_path do %>
        <span>Add </span>
        <% end %>
      </div>
    </div>
    <div class="list-group">
      <% @categories.each do |category| %>
      <%= render partial: 'list_category', locals: {category: category} %>
      <% end %>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
