  <!-- fixed top navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand no-break-out" title="GTPD - Duty Cards" href="/">GTPD - Duty Cards</a>  
      </div>
      <button type="button" class="btn btn-default btn-back pull-left hidden" onclick="history.back()">
        <i class="fa fa-lg fa-chevron-left"></i><span>Back</span>
      </button>
      <!-- menu button to show/ hide the off canvas slider -->
      <button type="button" class="btn btn-default btn-menu pull-left offCanvasToggle" data-toggle="offcanvas">
        <i class="fa fa-lg fa-bars"></i><span>Menu</span>
      </button>    
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/" data-pjax="#main" data-title="Dashboard"
              <i class="fa fa-dashboard"></i>
              Dashboard
            </a>          
          </li>
          <li>
            <a href="/cards" data-pjax="#main" data-title="Cards"
              <i class="fa fa-user"></i>
              Cards
            </a>          
          </li>
          <li>
            <a href="/categories" data-pjax="#main" data-title="Card Categories"
              <i class="fa fa-tag"></i>
              Card Categories
            </a>          
          </li>
<!--
           <li>
            <a href="/contacts" data-pjax="#main" data-title="Contacts"
              <i class="fa fa-users"></i>
              Contacts
            </a>          
          </li>
-->
        </ul>
      </div>          
    </div>
  </div>   