<!DOCTYPE html>
<html>
<head>
  <title>Gloucester Township Police - Duty Cards</title>
  <!-- CSS imports -->  
  <link rel="stylesheet"
        type="text/css"
        media="all"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.2/css/bootcards-desktop.min.css" />
  
  <link rel="stylesheet"
        media="all"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  
  <link rel="stylesheet"
        media="all"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        type="text/css" />
  
  <!-- Javascript imports -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.2/js/bootcards.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= render partial: '/layouts/navigation' %>
    <%= render partial: '/layouts/messages' %>
    <%= yield %>
  </div>
</body>
</html>
